@media (max-width: 1200px) {
	[class*="wrapper"] {
	    width: 940px;
	}
	.sec-1__inner {
		margin-top: 259px;
	}
	.sec-1__box {
		min-height: 384px;
	}
	.sec-1 {
		min-height: 694px;
	}
	.sec-2 {
		background-position: left;
	}
	.sec-2__internal-box__text-1 {
		margin-right: 100px;
	}
	.sec-2__box__internal-box:first-of-type {
		padding-left: 16px;
	}
	.sec-2__internal-box__text-2 {
		margin-right: 100px;
		margin-top: 44px;
	}
	.sec-3__grid-block__icon {
		width: 53px;
		height: 53px;	
	}
	.sec-3__internal-box__grid-block {
		padding: 0px 16px;
	}
	.sec-3__internal-box__h2 {
		margin-bottom: 0;
	}
	.sec-5 {
		background-position: 60% 95%;
		background-size: 100%;
	}

	.sec-6__internal-box__line {
		width: 250px;
	}
	.sec-8__form__message {
		min-height: 125px;
	}
	.sec-8__box__grid-block-info {
		padding-left: 16px;
	}
}
@media (max-width: 992px) {
	[class*="wrapper"] {
	    width: 720px;
	}
	.sec-1__inner {
		margin-top: 175px;
	}
	.sec-1__box {
		min-height: 375px;
	}
	.sec-1 {
		min-height: 604px;
		background-position: 100% 0;
	}
	.sec-1__box__line {
		width: 600px;
	}
	.sec-2 {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../content/section 2/images/222.png');
		background-position: center 50%;
	}
	.sec-2__internal-box__text-2,
	.sec-2__internal-box__text-1 {
		margin-right: 76px;
	}
	.sec-2__internal-box__line {
		width: 189px;
	}
	.sec-3__grid-block__icon {
		width: 40px;
		height: 40px;
	}
	.sec-3__internal-box:last-of-type {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}
	.sec-3__internal-box__line {
		width: 189px;
	}
	.sec-4 {
		background-size: 150%;
	}
	.sec-5__box__line {
		width: 308px;
	}
	.sec-5__box__block {
		justify-content: flex-end;
	}
}
@media (max-width: 768px) {
	[class*="wrapper"] {
	    width: 540px;
	}
	.sec-1__inner {
		margin-top: 51px;
	}
	.sec-1__box {
		min-height: 419px;
		justify-content: flex-end;
		padding-right: 9px;
	}
	.sec-1 {
		min-height: 521px;
	}
	.sec-1__box__line {
		width: 400px;
	}
	.sec-2__box {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 0.6fr;
	}
	.sec-2__internal-box__text-1 {
		margin: 33px 57px 55px 0px;
	}
	.sec-2__internal-box__line {
		width: 336px;
	}
	.sec-3__internal-box:last-of-type {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
	.sec-3__internal-box__grid-block {
		align-items: center;
		text-align: center;
	}
	.sec-4__box {
		width: 450px;
	}
	.sec-4 {
		background-size: 200%;
	}
	.sec-5 {
		min-height: 800px;
	}
	.sec-6__box__internal-box:last-of-type {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 1fr);
	}
	.sec-6__internal-box__grid-block {
		padding: 10px 67px;
	}
	.sec-7__box {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 1fr);
	}
	.sec-7__box__grid-block {
		height: 446px;
	}
	.sec-8__box {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(2, 1fr);
	}
}
@media (max-width: 575px) {
	[class*="wrapper"],
	.sec-4__box {
	    width: 340px;
	}
	.sec-1__inner {
		margin-top: 93px;
	}
	.sec-1__box {
		min-height: 263px;
		justify-content: flex-end;
		padding-right: 9px;
	}
	.sec-1 {
		min-height: 407px;
		background-position: 70%;
	}
	.sec-1__box__h2-up,
	.sec-1__box__h2-down {
		font-size: 48px;
	}
	.sec-1__box__h1 {
		font-size: 72px;
		margin-left: -35px;
	}
	.sec-1__box__line {
		width: 160px;
		margin-left: 50px;
	}
	.sec-2__box {
		grid-template-rows: 1fr 0.55fr;
	}
	.sec-2__internal-box__line {
		width: 200px;
	}
	.sec-2__box__internal-box {
		padding-left: 6px!important;
	}
	.sec-2__internal-box__text-2,
	.sec-2__internal-box__text-1 {
		margin-right: 36px;
	}
	.sec-3__grid-block__icon {
		width: 32px;
		height: 32px;
	}
	.sec-4 {
		background-size: cover;
	}
	.sec-5__box__line {
		width: 150px;
	}
	.sec-5__box {
		padding-right: 0;
	}
	.sec-6__internal-box__h2 {
		font-size: 68px;
	}
}
@media (max-width: 420px) {
	[class*="wrapper"],
	.sec-4__box {
	    width: 250px;
	}
	.sec-1__box {
		padding: 0;
	}
	.sec-1__box__h2-up {
		font-size: 36px;
	}
	.sec-1__box__h2-down {
		font-size: 28px;
	}
	.sec-1__box__line {
		margin-bottom: 4px;
		margin-left: 25px;
	}
	.sec-1__box__h1 {
		font-size: 44px;
		margin-left: 0px;
		margin-right: -8px;
		transform: translateX(-5px);
	}
	.sec-2__box {
		height: 880px;
	}
	.sec-2__internal-box__line {
		width: 150px;
	}
	.sec-2__internal-box__h2 {
		font-size: 60px;
	}
	.sec-2__internal-box__text-1 {
		margin: 15px 0px 25px 0px;
		padding: 0px 10px;
		text-align: justify;
	}
	.sec-2__internal-box__text-2 {
		margin: 15px 0px 0px 0px;
		padding: 0px 10px;
		text-align: justify;
	}
	.sec-2__internal-box__link {
		margin-top: 32px;
		margin-left: 10px;
	}
	.sec-3__internal-box__h2 {
		font-size: 58px;
		margin-right: 10px;
	}
	.sec-3__internal-box__h3 {
		margin-right: 10px;
	}
	.sec-3__internal-box__line {
		width: 135px;
	}
	.sec-3__grid-block__subtitle {
		margin: 10px 0px 15px 0px;
	}
	.sec-3__internal-box__grid-block {
		padding: 0px 6px;
	}
	.sec-4__box__line {
		width: 100px;
		margin-left: 15px;
	}
	.sec-4__box__h2 {
		font-size: 60px;
		padding-left: 10px;
	}
	.sec-4__box__h3 {
		padding-left: 10px;
	}
	.sec-4__box {
		padding-left: 6px;
	}
	.sec-4 {
		min-height: 560px;
	}
	.sec-4__inner {
		margin-top: 325px;
	}
	.sec-5 {
		min-height: 600px;
		background-position: 0% 100%;
	}
	.sec-5__box__h2 {
		font-size: 48px;
		margin-left: 10px;
		padding-right: 10px;
	}
	.sec-5__box__h3 {
		padding-right: 10px;
	}
	.sec-5__box__line {
		width: 70px;
		margin-left: 5px;
		margin-right: 15px;
	}
	.sec-6__internal-box__line {
		margin-left: 10px;
		width: 75px;
	}
	.sec-6__box__internal-box {
		padding-left: 6px!important;
	}
	.sec-6__internal-box__h2 {
		font-size: 48px;
	}
	.sec-6__internal-box__h3 {
		font-size: 24px;
	}
	.sec-6__box__internal-box:first-of-type {
		height: 225px;
	}
	.sec-6__internal-box__grid-block {
		padding: 10px 35px;
	}
	.sec-7__box__grid-block {
		height: 330px;
	}
	.sec-8__grid-block__h2 {
		font-size: 44px;
		margin-top: 5px;
	}
	.sec-8__box__grid-block__h3 {
		font-size: 30px;
		text-align: center;
	}
	.sec-8__box__grid-block {
		padding: 0px 10px;
	}
	.sec-8 {
		min-height: 850px;
	}
	.sec-8__box {
	    grid-template-rows: 0.7fr 1fr;
	}
	.sec-8__form__btn {
		width: 100%;
		text-align: center;
	}
}